@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.SimpleProductWidgetComponentVm

<div class="d-flex justify-content-center my-2">
    <h2>@Model.WidgetName</h2>
</div>

<div class="row product-list">
    @foreach (var product in Model.Products)
    {
        <div class="col-xs-6 col-md-2">
            <partial name="/Areas/Catalog/Views/Shared/_ProductThumbnail.cshtml" model="product" />
        </div>
    }
</div>
